* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  background-color: #1f242d;
  color: #fff;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

span {
  color: #0ef;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header-logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  cursor: default;
}
.header-navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 4rem;
  transition: 0.3s;
}
.header-navbar a:hover, .header a.active {
  color: #0ef;
}
.header-menu {
  font-size: 3.6rem;
  color: #fff;
  display: none;
}

.home {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-size: 1.6rem;
}
.home-img img {
  width: 35vw;
}
.home-social-media a {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #0ef;
  border-radius: 50%;
  font-size: 2rem;
  color: #0ef;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.home-social-media a:hover {
  background: #0ef;
  color: #323946;
  box-shadow: 0 0 1rem #0ef;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #0ef;
  border-radius: 4rem;
  box-shadow: 0 0 1rem #0ef;
  font-size: 1.6rem;
  color: #323946;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: #323946;
}
.about-img img {
  width: 35vw;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.services-content {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services-box {
  flex: 1 1 30rem;
  background: #323946;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: solid 0.2rem #1f242d;
  transition: 0.5s ease;
}
.services-box i {
  font-size: 7rem;
  color: #0ef;
}
.services-box h3 {
  font-size: 2.6rem;
}
.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.services-box:hover {
  border-color: #0ef;
  transform: scale(1.02);
}

.portifolio {
  background: #323946;
}
.portifolio h2 {
  margin-bottom: 4rem;
}
.portifolio-content {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portifolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #1f242d;
  overflow: hidden;
  display: flex;
}
.portifolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portifolio-box:hover img {
  transform: scale(1.1);
}
.portifolio-box:hover .portifolio-layer {
  transform: scale(1.1);
}
.portifolio-layer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portifolio-layer h4 {
  font-size: 3rem;
}
.portifolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.portifolio-layer a {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
