@use 'variaveis'

*
  font-family: 'Poppins'
  padding: 0
  margin: 0
  box-sizing: border-box
  text-decoration: none
  border: none
  outline: none
  scroll-behavior: smooth

html
    font-size: 62.5%
    overflow: hidden

body
    background-color: variaveis.$bg-color
    color: variaveis.$text-color

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    padding: 2rem 9%
    background: variaveis.$bg-color
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 100

    &-logo
        font-size: 2.5rem
        color: variaveis.$text-color
        font-weight: 600
        cursor: default
    
    &-navbar a
        font-size: 1.7rem
        color: variaveis.$text-color
        margin-left: 4rem
        transition: .3s

    &-navbar a:hover,a.active 
        color: variaveis.$primary-color

    &-menu
        font-size: 3.6rem
        color: variaveis.$text-color
        display: none